.layout .column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10%;
  min-height: 70vh;
  max-height: 80vh;
  width: 25%;
  text-align: center;
  font-size: clamp(1rem, 2vw, 3rem);
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--column-color);
  border-radius: 1em;
  border: 0.5px solid var(--border-color);
  padding-top: 0.6em;
}

.layout .column h3 {
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  font-size: clamp(1rem, 2vw, 5rem);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--title-color);
  text-align: center;
  border-radius: 1em;
  border: 1px solid var(--border-color);
  width: 80%;
  margin: auto;
}

.layout .column .tasks {
  font-size: clamp(1rem, 1vw, 2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: monospace;
  padding: 1em;
  min-height: 2rem;
  max-height: 5rem;
  min-width: 80%;
  max-width: 80%;
  width: 80%;
  line-height: 100%;
  margin: 0.8em;
  border: 1px solid var(--border-color); /*Dejamos el borde de las task con color negro o lo dejamos con el color
                                          de nuestra variable border color?   */
  list-style: none;
}
