.layout .column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10%;
  min-height: 70vh;
  max-height: 80vh;
  width: 25%;
  text-align: center;
  font-size: clamp(1rem, 2vw, 3rem);
  font-family: Arial, Helvetica, sans-serif;
  background-color: #effffd;
  border-radius: 1em;
  border: 0.5px solid var(--border-color);
  padding-top: 0.6em;
}

.layout .column h3 {
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  font-size: clamp(1rem, 2vw, 5rem);
  font-family: Arial, Helvetica, sans-serif;
  color: #ffbd35;
  text-align: center;
  border-radius: 1em;
  border: 1px solid #2d4263;
  width: 80%;
  margin: auto;
}

.layout .column .tasks {
  font-family: monospace;
  padding: 1em;
  line-height: 100%;
  margin: 1em;
  border: 1px solid black;
  list-style: none;
}
