@import url("./_reset.scss");

body {
  background-color: white;
}

.Kanban-Board {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  overflow: hidden;
}
