.board {
  display: flex;
  direction: row;
  justify-content: space-around;
}

.toDo .inProgress .done {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: flex-start;
  min-height: 50%;
  border: black 1px solid;
}

h3 {
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  color: #4fd3c4;
  border: black 1px solid;
}

.tasks {
  border: black 1px solid;
}
