header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #2d4263;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  height: 100px;
  color: white;
  font-size: 25px;
}
